<%- include('../partials/header'); %>

<main class="main main-home container">
  <h2 class="main-h2 text-center text-capitalize">
    welcome to my Baseball player page
  </h2>
  <img
    src="https://images.pexels.com/photos/257970/pexels-photo-257970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="home image"
    class="img-fluid home-image"
  />
</main>

<%- include('../partials/footer'); %>
